body{
    background-color: rgb(6, 246, 234);
}
button{
    background-color: rgb(76, 78, 76);
    text-align: center;
}
button:hover{
    background-color: rgb(156, 156, 156);
}
input{
    margin: 5px;
    
}
#container{
border: 1px solid black;
margin: 10px;
}
label{
    margin: 5px;
}
select{
    margin: 5px;
    width: 95%;  
   
}
.error{
    color: red;
}
.success{
    color: green;
}